$text-white: #FFFFFF;
$herobg-text: #FFFFFF;
$bg-white: #FFFFFF;
$body-bg: #E4E7F0;
$color-GrayBlue10: rgba(13, 17, 26, .5);
$color-GrayBlue50: #4D5E80;
$color-GrayBlue60: #6B7A99;
$color-GrayBlue70: #7D8FB3;
$orange-bg: #FF6633;
$border-color: #EDEFF2;
$bg-text:#002881;
